body {
    padding-top: 40px;
    padding-bottom: 40px;
    /*background-color: #eee;*/
}

.container {
    width: 20cm;
    width: 100%;
    text-align: center;
    margin: auto; !important
}

.print-label {
    font-size: 150%;
}

.form-signin {
    max-width: 35%;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .form-signin-heading {
    display: block;
    text-align: center;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.etiqueta * {
    margin: 0px;
    padding: 0px;
}

.etiqueta {
    text-align: center;
    width: 8cm;
    height: 3.8cm;
    display: table;
    margin: auto;
    margin-bottom: 5px;
    border: solid 1px #aab7d1;
    padding-top: 0.3cm;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #aab7d1;
}

/*.etiqueta img {
    width: 120px;
}*/

.etiqueta h3 {
    display: block;
    width: 100%;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.etiqueta #divCodeBar {
    float: left;
    width: 60%;
    margin-left: 5%;
    height: 1.48cm;
    overflow: hidden;
    text-align: center;
    margin-top: 5px;
}

.etiqueta #divQtdCaixas {
    float: left;
    width: 30%;
    margin: 0px;
    padding: 0px;

}

.etiqueta #divQtdCaixas #spanQtdCaixas {
    display: block;
    font-size: 250%;
    font-weight: bold;
    margin: -10px;
    padding: 5px;
}

.etiqueta #divAvisoLacre {
    font-size: 12px;
}

.etiqueta #divLinha {
    display: table;
    width: 100%;
}

.btnVoltar {
    display: block;
    width: 7cm;
    margin: auto;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.print-label {
    float: left;
    width: 8cm;
    padding: 1cm 1cm 1cm 1cm;
}

.print-label h2 {
    margin: 0px;
    margin-bottom: 15px;
}

.table-danger {
    background: #f2dede;
}

form {
    margin-bottom: 25px;
}

.ponteiro {
    cursor: pointer;
}

.table {
    margin-top: 10px;
}

.left {
    float: left;
}

.coluna {
    height: 100%;
    padding: 15px;
}

.centro {
    display: table;
    margin: auto;
}

.tableSmall {
    font-size: 10px;
}

.div5 {
    width: 5%;
    float: left;
}

.div10 {
    width: 10%;
    float: left;
}

.div14 {
    width: 14%;
    float: left;
}

.div15 {
    width: 15%;
    float: left;
}

.div17 {
    width: 17%;
    float: left;
}

.div20 {
    width: 20%;
    float: left;
}

.div25 {
    width: 25%;
    float: left;
}

.div30 {
    width: 30%;
    float: left;
}

.div33 {
    width: 33%;
    float: left;
}

.div35 {
    width: 35%;
    float: left;
}

.div40 {
    width: 40%;
    float: left;
}

.div45 {
    width: 45%;
    float: left;
}

.div50 {
    width: 50%;
    float: left;
}

.div55 {
    width: 55%;
    float: left;
}

.div60 {
    width: 60%;
    float: left;
}

.div65 {
    width: 65%;
    float: left;
}

.div70 {
    width: 70%;
    float: left;
}

.div75 {
    width: 75%;
    float: left;
}

.div80 {
    width: 80%;
    float: left;
}

.div85 {
    width: 85%;
    float: left;
}

.div90 {
    width: 90%;
    float: left;
}

.div95 {
    width: 95%;
    float: left;
}

.div100 {
    width: 100%;
    float: left;
}

.btn {
    margin: 4px 0px;
}

.vermelho {
    color: red;
    font-weight: bold;
}

.a4 {
    width: 20cm;
    margin: 1cm;
    margin: auto;
}

.text-left {
    text-align: left;
}

.divInfo {
    margin: 10px;
    font-size: 80%;
}

.img-menu {
    margin: 0px 10px;
}

.dataTableJS {
    padding: 5px;
}

.btn {
    margin-right: 10px;
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap
}

table.dataTable thead > tr > th, table.dataTable thead > tr > td {
    padding-right: 30px
}

table.dataTable thead > tr > th:active, table.dataTable thead > tr > td:active {
    outline: none
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150"
}

table.dataTable thead .sorting_asc:after {
    content: "\e155"
}

table.dataTable thead .sorting_desc:after {
    content: "\e156"
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    color: #eee
}

div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none
}

div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
    border-top: none
}

div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
        text-align: center
    }
}

table.dataTable.table-condensed > thead > tr > th {
    padding-right: 20px
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
    top: 6px;
    right: 6px
}

table.table-bordered.dataTable {
    border-collapse: separate !important
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border-left-width: 0
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 0
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 0
}

div.dataTables_scrollHead table.table-bordered {
    border-bottom-width: 0
}

body {
    padding-top: 0px;
}

.btn-sm-custom {
    padding: 5px;
    margin: 2px;
    margin-bottom: 5px;
}

#idDataTable {
    font-size: 75%;
}

.etiqueta9x6 * {
    margin: 0px;
    padding: 0px;
}

.etiqueta9x6 {
    text-align: center;
    width: 9cm;
    height: 5.8cm;
    display: table;
    margin: auto;
    margin-bottom: 5px;
    border: solid 1px #aab7d1;
    padding-top: 0.3cm;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #aab7d1;
}

/*.etiqueta img {
    width: 120px;
}*/

.etiqueta9x6 h3 {
    display: block;
    width: 100%;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.etiqueta9x6 #divCodeBar {
    float: left;
    width: 100%;
    
    height: 2cm;
    overflow: hidden;
    text-align: center;
}

.etiqueta9x6 #divCodeBar img {
    zoom: 150%;
}

.etiqueta9x6 #divQtdCaixas {
    margin: auto;
}

.etiqueta9x6 #divQtdCaixas #spanQtdCaixas {
    display: block;
    font-size: 350%;
    font-weight: bold;
	color: black;
}

#ptoRef{
	text-align: left;
	width: 100%;
	font-size: 12px;
	border-bottom: solid 1px black;
	padding-left: 3%
}

.etiqueta9x6 #divAvisoLacre {
    font-size: 14px;
}

.etiqueta9x6 #divQtdCaixas  img{
    zoom: 120%;
}

.etiqueta9x6 #divLinha {
    display: table;
    width: 100%;
}

.divRomaneioCidade {
    border: solid 1px black;
    margin: 10px auto;
}

.borda{
	display: table;
	border: solid 1px black;
}

@media print {
    body {
        margin: 0px;
        padding: 0px;
    }

    .etiqueta {
        text-align: center;
        width: 8cm;
        height: 4.1cm;
        display: table;
        border: none;
        box-shadow: none;

    }

    .etiqueta9x6 {
        text-align: center;
        width: 9cm;
        height: 5.0cm;
        display: table;
        border: none;
        box-shadow: none;

    }

    .noPrint {
        display: none;
    }

    table tr {
        border-bottom: solid 1px #B0BED9;
    }

    .break {
        margin: 0px;
        border: none;
        page-break-after: always;
    }

}

